@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ScriptController/DmLoaiKNTCJs.js"></script>
<div class="main-content-inner" ng-controller="DmLoaiKNTCJs">
    <div class="panel-default">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="../Home/Index">Trang chủ</a>
                </li>
                <li><a>Quản lý danh mục</a></li>
                <li class="active">Quản lý Lĩnh vực</li>
            </ul>
            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <a class=" btn btn-success btn-xs tooltip-success" data-toggle="modal" data-target="#myModal" data-placement="top" ng-click="show('')" ng-if="checkFunctionRoles('2')"><i class="fa fa-plus-circle"></i> Thêm mới</a>
                </form>
            </div>
        </div>
        <div class="page-header panel-body">
            <div class="p-table ptdv-pding">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 no-padding">
                        <div class="col-md-3 Pding-div">
                            <h4>Số lượng: <span class="red">{{totalRecords}}</span></h4>
                        </div>
                        <div class="col-md-2 Pding-div">
                            <input type="text" id="txtThongtintimkiem" ng-model="thongtintimkiem"  trim-input prevent-autofill class="form-control" placeholder="Nhập tên Lĩnh vực..." ng-keypress="checkEnter($event)" autocomplete="off" />
                        </div>
                        <div class="col-md-2 Pding-div">
                            <select style="padding: 0px; border: 0px" ui-select2 class="form-control" ng-model="IdLoaiDonThu" ng-change="reload()">
                                <option value="-1">--- Chọn Phòng ban---</option>
                                <option ng-repeat="item in lstLoaiDonThu" value="{{item.Id}}" ng-selected="IdLoaiDonThu == item.Id">{{item.Name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 Pding-div">
                            <select style="padding: 0px; border: 0px" ui-select2 class="form-control" ng-model="IdNguonDonThu" ng-change="reload()">
                                <option value="-1">--- Chọn Nguồn Đơn Thư---</option>
                                <option ng-repeat="item in lstNguonDon" value="{{item.Id}}" ng-selected="IdNguonDonThu == item.Id">{{item.TenNguonDon}}</option>
                            </select>
                        </div>
                        <div class="col-md-1 Pding-div">
                            <select class="form-control" ng-model="Loai" ng-change="reload()">
                                <option value="-1">-- Chọn loại --</option>
                                <option value="0">Bình thường</option>
                                <option value="1">Đặc biệt</option>
                            </select>
                        </div>

                        <div class="col-md-1 Pding-div">
                            <select class="form-control" ng-model="TrangThai" ng-change="reload()">
                                <option value="-1">--- Trạng thái sử dụng ---</option>
                                <option value="0">Hoạt động</option>
                                <option value="1">Không hoạt động</option>
                            </select>
                        </div>
                        <div class="col-md-1 Pding-div text-right">
                            <a ng-click="reload()" class="btn btn-xs btn-primary">
                                <i class="fa fa-search">Tìm kiếm</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="p-table">
                <div class="panel-body">
                    <table class="table table-bordered table-hover" border="1">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 5%">STT</th>
                                <th class="text-center">TÊN Lĩnh vực</th>
                                <th class="text-center">TÊN PHÒNG BAN</th>
                                <th class="text-center">TÊN NGUỒN ĐƠN THƯ</th>
                                <th class="text-center" style="width: 10%">LOẠI</th>
                                <th class="text-center" style="width: 10%">TRẠNG THÁI</th>
                                <th class="text-center" style="width: 15%">CHỨC NĂNG</th>
                            </tr>
                            @*<tr>
                                    <th class="text-center align-middle" style="width: 5%"></th>

                                    <th class="text-center align-middle">
                                        <input type="text" id="txtThongtintimkiem" trim-input prevent-autofill ng-model="thongtintimkiem" class="form-control" placeholder="Nhập..." ng-keypress="checkEnter($event)" autocomplete="off" />
                                    </th>
                                    <th class="text-center align-middle"style="width: 15%">
                                        <select style="padding: 0px; border: 0px" ui-select2 class="form-control" ng-model="LoaiKNTC.IdLoaiDonThu" ng-change="reload()">
                                            <option value="-1">--- Chọn Phòng ban---</option>
                                            <option ng-repeat="item in lstLoaiDonThu" value="{{item.Id}}">{{item.TenLoaiDonThu}}</option>
                                        </select>
                                    </th>
                                    <th class="text-center align-middle" style="width: 15%">
                                        <select style="padding: 0px; border: 0px" ui-select2 class="form-control" ng-model="LoaiKNTC.IdNguonDonThu" ng-change="reload()">
                                            <option value="-1">--- Chọn Nguồn Đơn Thư---</option>
                                            <option ng-repeat="item in lstNguonDonThu" value="{{item.Id}}">{{item.Name}}</option>
                                        </select>
                                    </th>
                                    <th class="text-center align-middle" style="width: 10%">
                                        <select class="form-control" ng-model="Loai" ng-change="reload()">
                                            <option value="-1">-- Chọn --</option>
                                            <option value="0">Bình thường</option>
                                            <option value="1">Đặc biệt</option>
                                        </select>
                                    </th>
                                    <th class="text-center align-middle" style="width: 10%">
                                        <select class="form-control" ng-model="TrangThai" ng-change="reload()">
                                            <option value="-1">-- Chọn --</option>
                                            <option value="0">Hoạt động</option>
                                            <option value="1">Không hoạt động</option>
                                        </select>
                                    </th>
                                    <th class="text-center align-middle" style="width: 10%"></th>
                                    <th class="text-center align-middle" style="width: 10%"></th>
                                </tr>*@
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lstLoaiKNTC">
                                <td class="text-center">{{$index+1+(pageSize*(pageIndex-1))}}</td>
                                <td class="text-left"><a href="" data-toggle="modal" data-target="#myModalXem" ng-click="show(item.id);">{{item.TenLoaiKNTC}}</a></td>
                                <td class="text-left">{{item.TenLoaiDonThu}}</td>
                                <td class="text-left">{{item.TenNguonDon}}</td>
                                <td class="text-left">
                                    <span ng-if="item.Loai ==0"> Bình thường</span>
                                    <span ng-if="item.Loai ==1"> Đặc biệt</span>
                                </td>
                                <td class="text-left">
                                    <span ng-if="item.TrangThai==0"> Hoạt động</span>
                                    <span ng-if="item.TrangThai==1"> Không hoạt động</span>
                                </td>
                                <td class="text-center">
                                    <span class="text-center control-btn action-buttons">
                                        <!-- Sửa -->
                                        <a class="blue" data-toggle="modal" data-target="#myModal"
                                           ng-click="show(item.id);" id="{{item.id}}"
                                           ng-if="checkFunctionRoles('2')" data-placement="top" title="Sửa">
                                            <i class="ace-icon fa fa-pencil bigger-150"></i>
                                        </a>

                                        <!-- Vô hiệu hóa -->
                                        <a class="purple" ng-show="item.TrangThai==0" ng-click="UpdateStatus(item)"
                                           ng-if="checkFunctionRoles('2')" data-toggle="tooltip"
                                           data-placement="top" title="Vô hiệu hóa">
                                            <i class="ace-icon fa fa-lock bigger-150"></i>
                                        </a>

                                        <!-- Sử dụng -->
                                        <a class="green" ng-show="item.TrangThai==1" ng-click="UpdateStatus(item)"
                                           ng-if="checkFunctionRoles('2')" data-toggle="tooltip"
                                           data-placement="top" title="Sử dụng">
                                            <i class="ace-icon fa fa-unlock bigger-150"></i>
                                        </a>

                                        <!-- Xóa -->
                                        <a class="red" ng-if="item.Loai == 0" data-toggle="modal"
                                           data-target="#confirm-delete" ng-click="checkremove(item.id);"
                                           data-placement="top" title="Xóa">
                                            <i class="ace-icon fa fa-trash bigger-150"></i>
                                        </a>
                                        <!-- Giữ chỗ nếu không có nút xóa -->
                                        <span ng-if="item.Loai != 0" style="visibility: hidden; width: 24px; display: inline-block;"></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="show-paging col-md-12 no-padding">
                        <div class="paging">
                            <span>Hiển thị</span>
                            <select ng-model="pageSize" ng-change="reload()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                            <span> tổng số <span class="totalrecord">{{totalRecords}}</span> bản ghi</span>
                        </div>
                        <div class="pagination no-padding">
                            <ul class="pagination pull-right" style="margin:0" ng-hide="pageCount==0">
                                <li ng-class="isDisable(pageIndex,1)" ng-click="selectPage(1)"><a href="javascript:void(0)"><i class="fa fa-fast-backward"></i></a></li>
                                <li ng-class="isDisable(pageIndex,1)" ng-click="selectPage(pageIndex-1)"><a href="javascript:void(0)"><i class="fa fa-backward"></i></a></li>
                                <li ng-repeat="page in lstPage track by $index"><a href="javascript:void(0)" ng-click="selectPage(page)" ng-style="activepage(page)">{{page}}</a></li>
                                <li ng-class="isDisable(pageIndex,pageCount)" ng-click="selectPage(pageIndex+1)"><a href="javascript:void(0)"><i class="fa fa-forward"></i></a></li>
                                <li ng-class="isDisable(pageIndex,pageCount)" ng-click="selectPage(pageCount)"><a href="javascript:void(0)"><i class="fa fa-fast-forward"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Modal Xem*@
    <div id="myModalXem" class="modal fade" role="dialog" tabindex="-1">
        <input type="text" id="crud" style="display:none;" />
        <div class="modal-dialog modal-style">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close-modal" data-dismiss="modal" tabindex="7">&times;</button>
                    <h4 class="modal-title" ng-show="LoaiKNTC.Id != null"><i class="ace-icon fa fa-eye"> </i> Xem thông tin Lĩnh vực: <span class="style_cole">{{LoaiKNTC.TenLoaiKNTC}}</span></h4>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12 no-padding">
                        <div class="profile-user-info profile-user-info-striped dv-name">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Tên Lĩnh vực: </div>
                                <div class="profile-info-value">
                                    <span class="editable">{{LoaiKNTC.TenLoaiKNTC}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Tên Phòng ban: </div>
                                <div class="profile-info-value">
                                    <select disabled name="donvi" ng-model="LoaiKNTC.IdLoaiDonThu" tabindex="3" class="form-control input-sm">
                                        <option ng-repeat="item in lstLoaiDonThu" value="{{item.Id}}" ng-selected="LoaiKNTC.IdLoaiDonThu == item.Id">{{item.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Tên nguồn hồ sơ: </div>
                                <div class="profile-info-value">
                                    <select disabled name="donvi" ng-model="LoaiKNTC.IdNguonDonThu" tabindex="3" class="form-control input-sm">
                                        <option ng-repeat="item in lstNguonDon" value="{{item.Id}}" ng-selected="LoaiKNTC.IdNguonDonThu == item.id">{{item.TenNguonDon}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Trạng thái:</div>
                                <div class="profile-info-value" ng-if="LoaiKNTC.TrangThai == 0">
                                    <span class="editable">Sử dụng</span>
                                </div>
                                <div class="profile-info-value" ng-if="LoaiKNTC.TrangThai == 1">
                                    <span class="editable">Vô hiệu hóa</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Ngày tạo :</div>
                                <div class="profile-info-value">
                                    <span class="editable">{{ LoaiKNTC.NgayTao | date:"dd/MM/yyyy" }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Ngày cập nhật gần nhất :</div>
                                <div class="profile-info-value">
                                    <span class="editable">{{ LoaiKNTC.ThoiDiemCapNhat | date:"dd/MM/yyyy" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-xs btn-danger" data-dismiss="modal" tabindex="6"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Đóng</a>
                </div>
            </div>
        </div>
    </div>

    @*Modal Insert Update*@
    <div id="myModal" class="modal fade" role="dialog" tabindex="-1">
        <input type="text" id="crud" style="display:none;" />
        <div class="modal-dialog modal-style">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close-modal" id="closeNQ" data-dismiss="modal" tabindex="6">&times;</button>
                    <h4 class="modal-title" ng-show="LoaiKNTC.Id != null"><i class="fa fa-pencil-square-o bigger-100"> </i> Sửa thông tin Lĩnh vực: <span class="style_cole">{{LoaiKNTC.TenLoaiKNTC}}</span></h4>
                    <h4 class="modal-title" ng-show="LoaiKNTC.Id == null"><i class="fa fa-pencil-square-o bigger-100"> </i> Thêm mới Lĩnh vực:</h4>
                </div>
                <form name="addNguonDonThu">
                    <div class="modal-body">
                        <div class="col-md-12 no-padding">
                            <div class="profile-user-info profile-user-info-striped dv-name">

                                <!-- Tên nguồn hồ sơ -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Tên nguồn hồ sơ<i style="color: red">(*)</i>: </div>
                                    <div class="profile-info-value">
                                        <select name="nguondonthu" required class="form-control input-sm"
                                                ng-model="LoaiKNTC.IdNguonDonThu">
                                            <option value="">--- Chọn Nguồn Đơn Thư ---</option>
                                            <option ng-repeat="item in lstNguonDon" value="{{item.Id}}">{{item.TenNguonDon}}</option>
                                        </select>
                                        <label class="help-block text-danger" id="lblidNguonDonThu"
                                               ng-show="addNguonDonThu.nguondonthu.$touched && addNguonDonThu.nguondonthu.$error.required">
                                            Vui lòng chọn nguồn hồ sơ!
                                        </label>
                                    </div>
                                </div>

                                <!-- Tên Phòng ban -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Tên Phòng ban<i style="color: red">(*)</i>: </div>
                                    <div class="profile-info-value">
                                        <select name="loaidonthu" required class="form-control input-sm"
                                                ng-model="LoaiKNTC.IdLoaiDonThu">
                                            <option value="">--- Chọn Phòng ban ---</option>
                                            <option ng-repeat="item in lstLoaiDonThu" value="{{item.Id}}">{{item.Name}}</option>
                                        </select>
                                        <label class="help-block text-danger" id="lblidLoaiDonThu"
                                               ng-show="addNguonDonThu.loaidonthu.$touched && addNguonDonThu.loaidonthu.$error.required">
                                            Vui lòng chọn Phòng ban!
                                        </label>
                                    </div>
                                </div>

                                <!-- Mã code -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Mã code<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <input type="text" name="code" required class="form-control input-sm"
                                               ng-model="LoaiKNTC.Code" placeholder="Nhập mã code...">
                                        <label class="help-block text-danger"
                                               ng-show="addNguonDonThu.code.$touched && addNguonDonThu.code.$error.required">
                                            Mã code không được để trống!
                                        </label>
                                    </div>
                                </div>

                                <!-- Tên Lĩnh vực -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Tên Lĩnh vực<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <input type="text" name="tenLoaiKNTC" required class="form-control input-sm"
                                               ng-model="LoaiKNTC.TenLoaiKNTC">
                                        <label class="help-block text-danger"
                                               ng-show="addNguonDonThu.tenLoaiKNTC.$touched && addNguonDonThu.tenLoaiKNTC.$error.required">
                                            Vui lòng nhập tên Lĩnh vực!
                                        </label>
                                    </div>
                                </div>

                                <!-- Mô tả -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Mô tả<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <textarea name="moTa" required class="form-control input-sm"
                                                  ng-model="LoaiKNTC.MoTa" placeholder="Nhập mô tả..."></textarea>
                                        <label class="help-block text-danger"
                                               ng-show="addNguonDonThu.moTa.$touched && addNguonDonThu.moTa.$error.required">
                                            Mô tả không được để trống!
                                        </label>
                                    </div>
                                </div>

                                <!-- Số thứ tự -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Số thứ tự trong danh mục<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <input type="number" name="soThuTu" required class="form-control input-sm"
                                               ng-model="LoaiKNTC.SoThuTu" placeholder="Nhập số thứ tự...">
                                        <label class="help-block text-danger"
                                               ng-show="addNguonDonThu.soThuTu.$touched && addNguonDonThu.soThuTu.$error.required">
                                            Vui lòng nhập số thứ tự!
                                        </label>
                                    </div>
                                </div>

                                <!-- Trạng thái -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Trạng thái<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <select name="trangThai" required class="form-control input-sm"
                                                ng-model="LoaiKNTC.TrangThai">
                                            <option value="">-- Chọn trạng thái --</option>
                                            <option value="0">Hoạt động</option>
                                            <option value="1">Không hoạt động</option>
                                        </select>
                                        @*<label class="help-block text-danger"
                                                   ng-show="addNguonDonThu.trangThai.$touched && addNguonDonThu.trangThai.$error.required">
                                                Vui lòng chọn trạng thái!
                                            </label>*@
                                    </div>
                                </div>

                                <!-- Loại -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Loại<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <select name="loai" required class="form-control input-sm"
                                                ng-model="LoaiKNTC.Loai">
                                            <option value="">-- Chọn loại --</option>
                                            <option value="0">Bình thường</option>
                                            <option value="1">Đặc biệt</option>
                                        </select>
                                        @*<label class="help-block text-danger"
                                                   ng-show="addNguonDonThu.loai.$touched && addNguonDonThu.loai.$error.required">
                                                Vui lòng chọn loại!
                                            </label>*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Nút Lưu và Đóng -->
                    <div class="modal-footer">
                        <a class="btn btn-xs btn-success" id="btnCreate"
                           ng-click="submitForm(addNguonDonThu)">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Lưu
                        </a>
                        <a class="btn btn-xs btn-danger" id="btnHuy" data-dismiss="modal">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Đóng
                        </a>
                    </div>

                </form>



            </div>
        </div>
    </div>

    @*Modal Delete*@
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="width: 30%">
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button" class="close btn-close-modal" id="closech" data-dismiss="modal" tabindex="8">&times;</button>
                    <h4 class="modal-title">
                        <i class="ace-icon fa fa-exclamation-triangle red"></i>Thông báo
                    </h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa: <strong class="red">{{LoaiKNTC.TenLoaiKNTC}}</strong>?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger btn-xs btn-ok" ng-click="remove(LoaiKNTC.id)"><i class="fa fa-check-square-o"></i> Có</a>
                    <a class="btn btn-xs btn-info" data-dismiss="modal"><i class="fa fa-times-circle"></i> Không</a>
                </div>
            </div>
        </div>
    </div>
</div>
