@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<script src="~/ScriptController/HoSoJs.js"></script>
<div class="main-content-inner" ng-controller="HoSoJs">
    <div class="panel-default">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="../Home/Index">Trang chủ</a>
                </li>
                <li class="active">Quản lý lưu trữ hồ sơ</li>
            </ul>
            <div class="nav-search" id="nav-search">
                <form class="form-search">
                </form>
            </div>  
        </div>
        <div class="page-header panel-body">
            <div class="p-table ptdv-pding">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 no-padding">
                        <div class="col-md-1 Pding-div">
                            <select class="form-control" ng-model="namID" ng-change="reload()">
                                <option value="-1">-- Năm --</option>
                                <option ng-repeat="item in lstNam" value="{{item}}" ng-selected="namID == item">{{item}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 Pding-div">
                            <select class="form-control" ng-model="khoID" ng-change="getKeGiabyKhoID_Search(khoID)">
                                <option value="-1">--- Chọn kho ---</option>
                                <option ng-repeat="item in lstKho" value="{{item.kho_id}}">{{item.kho_ten}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 Pding-div">
                            <select class="form-control" ng-model="kegiaID" ng-change="getHopCapbyKegiaID_Search(kegiaID)">
                                <option value="-1">--- Chọn kệ giá ---</option>
                                <option ng-repeat="item in lstKeGia_Search" value="{{item.kegia_id}}">{{item.kegia_ten}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 Pding-div">
                            <select class="form-control" ng-model="hopcapID" ng-change="reload()">
                                <option value="-1">--- Chọn hộp cặp ---</option>
                                <option ng-repeat="item in lstHopCap_Search" value="{{item.hopcap_id}}">{{item.hopcap_ten}}</option>
                            </select>   
                        </div>
                        <div class="col-md-2 Pding-div">
                            <input type="text" id="Keyword" ng-model="Keyword" class="form-control" placeholder="Nhập mã dự án, mã hồ sơ, tên hồ sơ ..." />
                        </div>
                        <div class="col-md-3 Pding-div text-right">
                            <a ng-click="reload()" class="btn btn-sm btn-primary">
                                <i class="fa fa-search"></i>
                            </a>
                            <a class="accordion-toggle collapsed btn btn-sm btn-info" data-toggle="collapse" data-parent="#accordion" ng-click="TimNangCaoHoSo()" aria-expanded="false">
                                <i class="fa fa-search-plus"></i>
                                <span>Tìm kiếm nâng cao</span>
                            </a>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div id="accordion" class="accordion-style1">
                        <div class="collapse panel-search-adv row" id="collapseOne" aria-expanded="false">
                            <div class="col-md-2">
                                <div class="input-group form-group-option date date-picker btn-tkhoso">
                                    <input id="ktbaoquanTu" class="adv-date date-picker" size="16" ng-model="ngay_baoquan_from" type="text" placeholder="Bảo quản từ:">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <div class="input-group form-group-option date date-picker btn-tkhoso">
                                    <input id="ktbaoquanden" class="adv-date date-picker" size=" 16" ng-model="ngay_baoquan_to" type="text" placeholder="Bảo quản đến:" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <label class="help-block" id="lblbaoquansearch" ng-model="lblbaoquansearch" style="display: none"></label>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group form-group-option date date-picker btn-tkhoso">
                                    <input id="ktluutruTu" class="adv-date date-picker" size="16" ng-model="ngay_luutru_from" type="text" placeholder="Lưu trữ từ:" >
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <div class="input-group form-group-option date date-picker btn-tkhoso">
                                    <input id="ktluutruDen" class="adv-date date-picker" size="16" ng-model="ngay_luutru_to" type="text" placeholder="Lưu trữ đến:" >
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <label class="help-block" id="lblluutrusearch" ng-model="lblluutrusearch" style="display: none"></label>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <div class="btn-tkhoso">
                                    <select class="form-control input-sm" ng-model="departmentID" ng-change="reload()" ng-disabled="lstDepartments.length == 1">
                                        <option value="-1" ng-selected="departmentID == -1">--- Phòng ban ---</option>
                                        <option ng-repeat="item in lstDepartments" value="{{item.Id}}" ng-selected="departmentID == item.Id">{{item.Name}}</option>
                                    </select>
                                </div>        
                                <div class="btn-tkhoso">
                                    <select class="form-control input-sm" ng-model="loaihsID" ng-change="reload()">
                                        <option value="-1">--- Chọn loại hồ sơ ---</option>
                                        <option ng-repeat="item in lstLoaiHoSo" value="{{item.loaihs_id}}">{{item.loaihs_ten}}</option>
                                    </select>
                                </div>                                                      
                            </div>
                            <div class="col-md-2 col-xs-12 ">
                                <div class="btn-tkhoso">
                                    <select class="form-control input-sm" ng-model="domatID" ng-change="reload()">
                                        <option value="-1">--- Độ mật ---</option>
                                        <option ng-repeat="item in lstDoMat" value="{{item.domat_id}}">{{item.domat_ten}}</option>
                                    </select>
                                </div>          
                                <div class="btn-tkhoso">
                                    <select class="form-control input-sm" ng-model="tinhtrangvlID" ng-change="reload()">
                                        <option value="-1">--- Tình trạng vật lý ---</option>
                                        <option ng-repeat="item in lstTinhTrangVL" value="{{item.ttvl_id}}">{{item.ttvl_ten}}</option>
                                    </select>
                                </div>          
                            </div>
                            <div class="col-md-2 col-xs-12 ">
                                <div class="btn-tkhoso">
                                    <select class="form-control input-sm" ng-model="hoso_type" ng-change="reload()">
                                        <option value="-1">--- Kiểu lưu hành hồ sơ ---</option>
                                        <option value="0">Nội bộ phòng ban / riêng tư</option>
                                        <option value="1">Công khai</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr dotted"></div>
                    <div class="col-md-12 no-padding">
                        <div class="col-md-9 col-sm-8 col-xs-12 no-padding">
                            <span>
                                <span class="red"><i class="ace-icon fa fa-star orange2"></i></span>  Bạn đang xem danh sách:
                                <span class="red bolder ">{{totalRecords}}</span> hồ sơ,

                                năm: <span ng-hide="namID != -1" class="red bolder">tất cả</span>
                                <span ng-repeat="item in lstNam" ng-show="item == namID" class="red bolder">{{item}}</span>,

                                kho: <span ng-hide="khoID != -1" class="red bolder">tất cả</span>
                                <span ng-repeat="item in lstKho" ng-show="item.kho_id == khoID" class="red bolder">{{item.kho_ten}}</span>,

                                kệ giá: <span ng-hide="kegiaID != -1" class="red bolder">tất cả</span>
                                <span ng-repeat="item in lstKeGia_Search" ng-show="item.kegia_id == kegiaID" class="red bolder">{{item.kegia_ten}}</span>,

                                hộp cặp: <span ng-hide="hopcapID != -1" class="red bolder">tất cả</span>
                                <span ng-repeat="item in lstHopCap_Search" ng-show="item.hopcap_id == hopcapID" class="red bolder">{{item.hopcap_ten}}</span>,

                                @*Bảo quản từ: <span class="red bolder" ng-show="ngay_baoquan_from == ''">tất cả</span>
                                <span class="red bolder">{{ngay_baoquan_from}}</span>,

                                Bảo quản đến: <span class="red bolder" ng-show="ngay_baoquan_to == ''">tất cả</span>
                                <span class="red bolder">{{ngay_baoquan_to}}</span>,

                                Lưu trữ từ: <span class="red bolder" ng-show="ngay_luutru_from == ''">tất cả</span>
                                <span class="red bolder">{{ngay_luutru_from}}</span>,

                                Lưu trữ đến: <span class="red bolder" ng-show="ngay_luutru_to == ''">tất cả</span>
                                <span class="red bolder">{{ngay_luutru_to}}</span>,

                                Đơn vị: <span ng-hide="departmentID != -1" class="red bolder">tất cả</span>
                                <span ng-repeat="item in lstDepartments" ng-show="item.Id == departmentID" class="red bolder">{{item.Name}}</span>,
                                
                                loại hồ sơ: <span ng-hide="loaihsID != -1" class="red bolder">tất cả</span>
                                <span ng-repeat="item in lstLoaiHoSo" ng-show="item.loaihs_id == loaihsID" class="red bolder">{{item.loaihs_ten}}</span>,

                                Độ mật: <span ng-hide="domatID != -1" class="red bolder">tất cả</span>
                                <span ng-repeat="item in lstDoMat" ng-show="item.domat_id == domatID" class="red bolder">{{item.domat_ten}}</span>,

                                Tình trạng VL: <span ng-hide="tinhtrangvlID != -1" class="red bolder">tất cả</span>
                                <span ng-repeat="item in lstTinhTrangVL" ng-show="item.ttvl_id == tinhtrangvlID" class="red bolder">{{item.ttvl_ten}}</span>,*@

                                từ khóa: <span class="red bolder" ng-show="Keyword == ''">trống</span>
                                <span class="red bolder">{{Keyword}}</span>
                            </span>
                        </div>
                        <div class=" bt-timkiem col-md-3 col-sm-4 col-xs-12 no-padding-right no-padding-left text-right">
                            <span>
                                <a class=" btn btn-success btn-xs tooltip-success" data-toggle="modal" data-target="#myModal" data-placement="top" ng-click="show('')" ng-if="checkFunctionRoles('1')"><i class="fa fa-plus-circle"></i> Thêm mới</a>
                                <a class=" btn btn-warning btn-xs tooltip-success" data-placement="top" title="Xuất ra file Excel" ng-click="exportExcel()"><i class="fa fa-file-excel-o"></i> Xuất Excel</a>
                                <iframe id="my_iframe" style="display:none;"></iframe>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="p-table">
                <div class="panel-body">
                    <table class="table table-bordered table-hover" border="1">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 5%">STT</th>
                                <th class="text-center" style="width: 10%">MÃ DỰ ÁN</th>
                                <th class="text-center" style="width: 10%">MÃ HỒ SƠ</th>
                                <th class="text-center">TÊN HỒ SƠ</th>
                                <th class="text-center" style="width: 25%">LOẠI HỒ SƠ</th>
                                <th class="text-center" style="width: 10%">HẠN BẢO QUẢN</th>
                                <th class="text-center" style="width: 5%">SỐ TL</th>
                                <th class="text-center" style="width: 10%">CHỨC NĂNG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lstHoSo" ng-style="Changestyle(item.ngay_baoquan_to)">
                                <td class="text-center">{{$index+1+(pageSize*(pageIndex-1))}}</td>
                                <td class="text-center">{{item.duan_id}}</td>
                                <td class="text-center">{{item.hoso_ma}}</td>
                                <td class="text-left"><a href="" data-toggle="modal" data-target="#myModalXem" ng-click="show(item.hoso_id);">{{formatText(item.hoso_ten,50)}}</a></td>
                                <td class="text-left">{{item.loaihs_ten}}</td>
                                <td class="text-right">
                                    <span class="label label-sm label-success arrowed arrowed-righ line-height-125" ng-if="item.ngay_baoquan_to != null"> {{ item.ngay_baoquan_to | date:"dd/MM/yyyy" }}</span>
                                    <span class="label label-sm label-info arrowed arrowed-righ line-height-125" ng-if="item.ngay_baoquan_to == null"> Vĩnh viễn</span>
                                </td>
                                <td class="text-right"><a href="../Docs/Index">{{ item.sotl_vb }}</a></td>
                                <td class="text-center">
                                    <span class="text-center control-btn action-buttons">
                                        <a class="blue" data-toggle="modal" data-target="#myModal" ng-click="show(item.hoso_id);" id="{{item.hoso_id}}" ng-if="checkFunctionRoles('1')" data-placement="top" title="Sửa">
                                            <i class="ace-icon fa fa-pencil bigger-150"></i>
                                        </a>
                                        <a class="green" ng-click="setCookiehosoId(item.hoso_id);" title="Thêm tài liệu vào hồ sơ">
                                            <i class="ace-icon fa fa-plus-circle bigger-150"></i>
                                        </a>
                                        <a class="purple" ng-show="item.trang_thai==0" ng-click="UpdateStatus(item)" ng-if="checkFunctionRoles('1')" data-toggle="tooltip" data-placement="top" title="Vô hiệu hóa">
                                            <i class="ace-icon fa fa-lock bigger-150"></i>
                                        </a>
                                        <a class="green" ng-show="item.trang_thai==1" ng-click="UpdateStatus(item)" ng-if="checkFunctionRoles('1')" data-toggle="tooltip" data-placement="top" title="Sử dụng">
                                            <i class="ace-icon fa fa-unlock bigger-150"></i>
                                        </a>
                                        <a class="orange" ng-click="show(item.hoso_id);" data-toggle="modal" data-target="#ModalPrintInfo" data-placement="top" title="In thông tin">
                                            <i class="ace-icon fa fa-print bigger-150"></i>
                                        </a>                                        
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="show-paging col-md-12 no-padding">
                        <div class="paging">
                            <span>Hiển thị</span>
                            <select ng-model="pageSize" ng-change="reload()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                            <span> tổng số <span class="totalrecord">{{totalRecords}}</span> bản ghi</span>
                        </div>
                        <div class="pagination no-padding">
                            <ul class="pagination pull-right" style="margin:0" ng-hide="pageCount==0">
                                <li ng-class="isDisable(pageIndex,1)" ng-click="selectPage(1)"><a href="javascript:void(0)"><i class="fa fa-fast-backward"></i></a></li>
                                <li ng-class="isDisable(pageIndex,1)" ng-click="selectPage(pageIndex-1)"><a href="javascript:void(0)"><i class="fa fa-backward"></i></a></li>
                                <li ng-repeat="page in lstPage track by $index"><a href="javascript:void(0)" ng-click="selectPage(page)" ng-style="activepage(page)">{{page}}</a></li>
                                <li ng-class="isDisable(pageIndex,pageCount)" ng-click="selectPage(pageIndex+1)"><a href="javascript:void(0)"><i class="fa fa-forward"></i></a></li>
                                <li ng-class="isDisable(pageIndex,pageCount)" ng-click="selectPage(pageCount)"><a href="javascript:void(0)"><i class="fa fa-fast-forward"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="hr dotted"></div>
                    <div class="col-md-12 no-padding">
                        <div class="col-md-3 no-padding">
                            <h5 style="margin:5px">Chú thích (<span class="red">*</span>):</h5>
                        </div>
                        <div class="col-md-3 Bq-pading">
                            <a ng-click="chDocs()"><span class="label" style="background-color: white; color: black; border: solid; border-color: black; border-width: 1px; ">A</span> : Hồ sơ còn hạn bảo quản</a>
                        </div>
                        <div class="col-md-3 Bq-pading">
                            <a ng-click="shhDocs()"><span class="label" style="background-color: #FFB752; color: white; border: solid; border-color: black; border-width: 1px; ">A</span> : Hồ sơ sắp hết hạn bảo quản</a>
                        </div>
                        <div class="col-md-3 Bq-pading">
                            <a ng-click="hhDocs()"><span class="label" style="background-color: #d62c2c; color: white; border: solid; border-color: black; border-width: 1px; ">A</span> : Hồ sơ đã hết hạn bảo quản</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Modal Xem*@
    <div id="myModalXem" class="modal fade" role="dialog" tabindex="-1">
        <input type="text" id="crud" style="display:none;" />
        <div class="modal-dialog modal-style" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close-modal" data-dismiss="modal" tabindex="7">&times;</button>
                    <h4 class="modal-title" ng-show="HoSo.hoso_id != null"><i class="ace-icon fa fa-eye"> </i> Xem thông tin hồ sơ: <span class="style_cole">{{HoSo.hoso_ma}} - {{HoSo.hoso_ten}}</span></h4>
                </div>
                <div class="modal-body">
                    <div class="col-xs-4 no-padding">
                        <div class="profile-user-info profile-user-info-striped dv-name">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Kho :</div>
                                <div class="profile-info-value">
                                    <span class="editable" ng-repeat="item in lstKho" ng-if="HoSo.kho_id == item.kho_id">{{item.kho_ten}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Kệ giá :</div>
                                <div class="profile-info-value">
                                    <span class="editable" ng-repeat="item in lstKeGia" ng-if="HoSo.kegia_id == item.kegia_id">{{item.kegia_ten}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Hộp cặp :</div>
                                <div class="profile-info-value">
                                    <span class="editable" ng-repeat="item in lstHopCap" ng-if="HoSo.hopcap_id == item.hopcap_id">{{item.hopcap_ten}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Loại hồ sơ :</div>
                                <div class="profile-info-value">
                                    <span class="editable" ng-repeat="item in lstLoaiHoSo" ng-if="HoSo.loaihs_id == item.loaihs_id">{{item.loaihs_ten}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Độ mật :</div>
                                <div class="profile-info-value">
                                    <span class="editable" ng-repeat="item in lstDoMat" ng-if="HoSo.domat_id == item.domat_id">{{item.domat_ten}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Tình trạng vật lý :</div>
                                <div class="profile-info-value">
                                    <span class="editable" ng-repeat="item in lstTinhTrangVL" ng-if="HoSo.ttvl_id == item.ttvl_id">{{item.ttvl_ten}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Mức độ truy cập :</div>
                                <div class="profile-info-value">
                                    <span class="editable" ng-repeat="item in lstMucDoTruyCap" ng-if="HoSo.mdtc_id == item.mdtc_id">{{item.mdtc_ten}}</span>
                                </div>
                            </div>       
                            <div class="profile-info-row" ng-if="HoSo.ngay_baoquan_to == null">
                                <div class="profile-info-name"> Bảo quản vĩnh viễn: </div>
                                <div class="profile-info-value">
                                    <span class="editable ">Có</span>
                                </div>
                            </div>              
                            <div class="profile-info-row" ng-if="HoSo.ngay_baoquan_to != null">
                                <div class="profile-info-name"> Bảo quản: </div>
                                <div class="profile-info-value">
                                    <span class="editable ">từ ngày {{HoSo.ngay_baoquan_from}} đến ngày {{HoSo.ngay_baoquan_to}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row" ng-if="HoSo.ngay_luutru_to != null">
                                <div class="profile-info-name"> Lưu trữ: </div>
                                <div class="profile-info-value">
                                    <span class="editable ">từ ngày {{HoSo.ngay_luutru_from}} đến ngày {{HoSo.ngay_luutru_to}}</span>
                                </div>
                            </div>                    
                        </div>
                    </div>
                    <div class="col-xs-4 no-padding">
                        <div class="profile-user-info profile-user-info-striped dv-name">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Mã dự án:</div>
                                <div class="profile-info-value">
                                    <span class="editable">{{HoSo.duan_ma}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Mã hồ sơ:</div>
                                <div class="profile-info-value">
                                    <span class="editable">{{HoSo.hoso_ma}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Tên hồ sơ: </div>
                                <div class="profile-info-value">
                                    <span class="editable">{{HoSo.hoso_ten}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Số hiệu hồ sơ: </div>
                                <div class="profile-info-value">
                                    <span class="editable">{{HoSo.hoso_sohieu}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Hồ sơ số: </div>
                                <div class="profile-info-value">
                                    <span class="editable">{{HoSo.hoso_number}}</span>
                                </div>
                            </div>                            
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Nội dung: </div>
                                <div class="profile-info-value">
                                    <span class="editable">{{HoSo.noidung}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Chú giải: </div>
                                <div class="profile-info-value">
                                    <span class="editable">{{HoSo.chugiai}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Bút tích: </div>
                                <div class="profile-info-value">
                                    <span class="editable">{{HoSo.buttich}}</span>
                                </div>
                            </div>                                          
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Ngày tạo :</div>
                                <div class="profile-info-value">
                                    <span class="editable">{{ HoSo.ngay_tao | date:"dd/MM/yyyy" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 no-padding">
                        <table class="table table-bordered table-hover" border="1">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 5%">STT</th>
                                    <th class="text-center" style="width: 10%">SỐ HIỆU</th>
                                    <th class="text-center">THÔNG TIN VĂN BẢN</th>
                                    @*<th class="text-center" style="width: 15%">NGÀY PHÁT HÀNH</th>*@
                                    <th class="text-center" style="width: 20%">ĐÍNH KÈM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in lstDocs">
                                    <td class="text-center">{{$index+1+(pageSize*(pageIndex-1))}}</td>
                                    <td class="text-left">{{item.doc_sohieu}}</td>
                                    <td class="text-left">{{item.doc_ten}}</td>
                                    @*<td class="text-right">{{ item.ngay_ban_hanh | date:"dd/MM/yyyy" }}</td>*@
                                    <td class="text-left">
                                        <span ng-repeat="sf in item.listSubfile" style="padding: 5px;">
                                            <div class="dropdown" style="float: left; padding-right: 5px;">
                                                @*<img src="{{sf.icon}}" alt="{{sf.file_original}}" title="{{sf.file_original}}" style="width: 30px; height: 30px; cursor: pointer; margin-bottom: 5px; " data-toggle="modal" data-target="#ModalToViewFile" ng-click="viewFilePlugin(sf.file_id,sf.file_url);" id="{{sf.file_id}}">*@
                                                <img src="{{sf.icon}}" alt="{{sf.file_original}}" title="{{sf.file_original}}" style="width: 20px; height: 20px; cursor: pointer; margin-bottom: 5px; " data-toggle="dropdown" id="{{sf.file_id}}">
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" data-toggle="modal" data-target="#ModalToViewFile" ng-click="viewFileByDocId(sf.file_extension,sf.file_url);">Xem tài liệu</a></li>
                                                    <li><a href="{{sf.file_url}}">Tải tài liệu</a></li>
                                                </ul>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-xs btn-danger" data-dismiss="modal" tabindex="6"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Đóng</a>
                </div>
            </div>
        </div>
    </div>

    @*Modal Insert Update*@
    <div id="myModal" class="modal fade" role="dialog" tabindex="-1">
        <input type="text" id="crud" style="display:none;" />
        <div class="modal-dialog modal-lg modal-style" style="width:95%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close-modal" id="closeNQ" data-dismiss="modal" tabindex="6">&times;</button>
                    <h4 class="modal-title" ng-show="HoSo.hoso_id != null"><i class="fa fa-pencil-square-o bigger-100"> </i> Sửa thông tin hồ sơ: <span class="style_cole">{{HoSo.hoso_ma}} - {{HoSo.hoso_ten}}</span></h4>
                    <h4 class="modal-title" ng-show="HoSo.hoso_id == null"><i class="fa fa-pencil-square-o bigger-100"> </i> Thêm mới hồ sơ</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-4 no-padding">
                        <div class="profile-user-info profile-user-info-striped dv-name">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Thuộc kho<i style="color: red">(*)</i> : </div>
                                <div class="profile-info-value">
                                    <select name="khohs" id="Khohs" ng-model="HoSo.kho_id" ng-change="getKeGiabyKhoID(HoSo.kho_id)" tabindex="1" class="form-control input-sm">
                                        <option value="">--- Kho lưu trữ ---</option>
                                        <option ng-repeat="item in lstKho" ng-selected="HoSo.kho_id == item.kho_id" value="{{item.kho_id}}">{{item.kho_ten}}</option>
                                    </select>
                                    <label class="help-block" id="lblkhohs" ng-model="lblkhohs" style="display: none">Trường bắt buộc không để trống</label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Thuộc kệ giá<i style="color: red">(*)</i> :</div>
                                <div class="profile-info-value">
                                    <select name="kegiahs" id="kegiahs" ng-model="HoSo.kegia_id" ng-change="getHopCapbyKegiaID(HoSo.kegia_id)" tabindex="2" class="form-control input-sm">
                                        <option value="">--- Kệ giá ---</option>
                                        <option ng-repeat="item in lstKeGia" ng-selected="HoSo.kegia_id == item.kegia_id" value="{{item.kegia_id}}">{{item.kegia_ten}}</option>
                                    </select>
                                    <label class="help-block" id="lblkegiahs" ng-model="lblkegiahs" style="display: none">Trường bắt buộc không để trống</label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Thuộc hộp cặp<i style="color: red">(*)</i>:</div>
                                <div class="profile-info-value">
                                    <select name="hopcaphs" id="hopcaphs" ng-model="HoSo.hopcap_id" tabindex="3" class="form-control input-sm">
                                        <option value="">--- Hộp cặp ---</option>
                                        <option ng-repeat="item in lstHopCap" ng-selected="HoSo.hopcap_id == item.hopcap_id" value="{{item.hopcap_id}}">{{item.hopcap_ten}}</option>
                                    </select>
                                    <label class="help-block" id="lblhopcaphs" ng-model="lblhopcaphs" style="display: none">Trường bắt buộc không để trống</label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Thuộc phòng ban<i style="color: red">(*)</i>:</div>
                                <div class="profile-info-value">
                                    <select name="phongban" id="phongban" ng-model="HoSo.donvi_id" tabindex="3" class="form-control input-sm" ng-disabled="lstDepartments.length == 1">
                                        <option value="">--- Phòng ban ---</option>
                                        <option ng-repeat="item in lstDepartments" value="{{item.Id}}" ng-selected="HoSo.donvi_id == item.Id">{{item.Name}}</option>
                                    </select>
                                    <label class="help-block" id="lblphongban" ng-model="lblphongban" style="display: none">Trường bắt buộc không để trống</label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Tình trạng vật lý :</div>
                                <div class="profile-info-value">
                                    <select name="tinhtrangvatly" id="tinhtrangvatly1" ng-model="HoSo.ttvl_id" class="form-control input-sm" tabindex="4">
                                        <option value="">--- Tình trạng vật lý ---</option>
                                        <option ng-repeat="item in lstTinhTrangVL" ng-selected="HoSo.ttvl_id == item.ttvl_id" value="{{item.ttvl_id}}">{{item.ttvl_ten}}</option>
                                    </select>
                                    <label class="help-block" id="lbltinhtrangvatly" ng-model="lbltinhtrangvatly" style="display: none"></label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Loại hồ sơ <i style="color: red">(*)</i> : </div>
                                <div class="profile-info-value">
                                    <select name="loaihoso" id="loaihoso" ng-model="HoSo.loaihs_id" class="form-control input-sm" tabindex="5">
                                        <option value="">--- Loại hồ sơ ---</option>
                                        <option ng-repeat="item in lstLoaiHoSo" ng-selected="HoSo.loaihs_id == item.loaihs_id" value="{{item.loaihs_id}}">{{item.loaihs_ten}}</option>
                                    </select>
                                    <label class="help-block" id="lblloaihoso" ng-model="lblloaihoso" style="display: none">Trường bắt buộc không để trống</label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Độ mật : </div>
                                <div class="profile-info-value">
                                    <select name="domat" id="domat" ng-model="HoSo.domat_id" class="form-control input-sm" tabindex="11">
                                        <option value="">--- Độ mật ---</option>
                                        <option ng-repeat="item in lstDoMat" ng-selected="HoSo.domat_id == item.domat_id" value="{{item.domat_id}}">{{item.domat_ten}}</option>
                                    </select>
                                    <label class="help-block" id="lbldomat" ng-model="lbldomat" style="display: none"></label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Kiểu lưu hành hồ sơ : </div>
                                <div class="profile-info-value">
                                    <select name="domat" id="domat" ng-model="HoSo.hoso_type" class="form-control input-sm" tabindex="12">
                                        <option value="">--- Kiểu lưu hành hồ sơ  ---</option>
                                        <option value="0">Nội bộ phòng ban / riêng tư</option>
                                        <option value="1">Công khai</option>
                                    </select>
                                    <label class="help-block" id="lbldomat" ng-model="lbldomat" style="display: none"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="profile-user-info profile-user-info-striped dv-name">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Dự án:</div>
                                <div class="profile-info-value">
                                    <div id="">
                                        <select name="Duanhs" id="Duanhs" ng-model="HoSo.duan_id" tabindex="1" class="form-control input-sm">
                                            <option value="">--- Dự án ---</option>
                                            <option ng-repeat="item in lstDuAn" ng-selected="HoSo.duan_id == item.duan_id" value="{{item.duan_id}}">{{item.duan_ma}} - {{item.duan_ten}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Mã hồ sơ <i style="color: red">(*)</i> :</div>
                                <div class="profile-info-value">
                                    <div id="">
                                        <input id="Mahs" name="mada" type="text" ng-model="HoSo.hoso_ma" class="form-control input-sm" maxlength="100" ng-change="checkMaInput()" tabindex="9" style="text-transform:uppercase">
                                        <label class="help-block" id="lblmahs" ng-model="lblmahs" style="display: none"></label>      
                                    </div>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Số hiệu <i style="color: red">(*)</i> :</div>
                                <div class="profile-info-value">
                                    <div id="">
                                        <input id="SoHieuhs" name="sohieu" class="form-control input-sm" maxlength="100" type="text" ng-change="checksohieuInput()" ng-model="HoSo.hoso_sohieu" tabindex="7" style="text-transform:uppercase">
                                        <label class="help-block" id="lblsohieuhs" ng-model="lblsohieuhs" style="display: none"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">  Tên hồ sơ <i style="color: red">(*)</i> :</div>
                                <div class="profile-info-value">
                                    <div id="">
                                        <input id="Tenhs" name="ten" class="form-control input-sm" maxlength="100" type="text" ng-change="checkNameInput()" ng-model="HoSo.hoso_ten" tabindex="8">
                                        <label class="help-block" id="lbltenhs" ng-model="lbltenhs" style="display: none"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Hồ sơ số<i style="color: red">(*)</i> :</div>
                                <div class="profile-info-value">
                                    <div id="">
                                        <input id="Hohs" onkeypress="return isNumber(event)" name="so" class="form-control input-sm" maxlength="100" type="text" ng-change="checkhosoInput()" ng-model="HoSo.hoso_number" tabindex="10">
                                        <label class="help-block" id="lblsohs" ng-model="lblsohs" style="display: none"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Nội dung :</div>
                                <div class="profile-info-value">
                                    <div id="">
                                        <textarea id="mota" ng-model="HoSo.noidung" class="form-control input-sm" maxlength="2500" tabindex="13"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Mức độ truy cập :</div>
                                <div class="profile-info-value">
                                    <div id="">
                                        <select name="mucdotruycap" id="mucdotruycap" ng-model="HoSo.mdtc_id" class="form-control input-sm" tabindex="12">
                                            <option value="">--- Mức độ truy cập ---</option>
                                            <option ng-repeat="item in lstMucDoTruyCap" ng-selected="HoSo.mdtc_id == item.mdtc_id" value="{{item.mdtc_id}}">{{item.mdtc_ten}}</option>
                                        </select>
                                        <label class="help-block" id="lblmucdotruycap" ng-model="lblmucdotruycap" style="display: none"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="profile-user-info profile-user-info-striped dv-name">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Bảo quản vĩnh viễn :</div>
                                <div class="profile-info-value">
                                    <div id="">
                                        <input id="check1" type="checkbox" ng-model="check" tabindex="14" ng-click="setdefaultTGBQ()">
                                    </div>
                                </div>
                            </div>
                            <div class="profile-info-row" ng-show="!check">
                                <div class="profile-info-name"> Thời gian bảo quản : </div>
                                <div class="profile-info-value">
                                    <div id="">
                                        <div class="col-md-8 no-padding">
                                            <select name="thoihan" id="thoihan" ng-model="HoSo.thoihan_id" class="form-control input-sm" tabindex="12">
                                                <option value="">--- Thời hạn ---</option>
                                                <option ng-repeat="item in lstThoiHan" ng-selected="HoSo.thoihan_id == item.thoihan_id" value="{{item.thoihan_id}}">{{item.thoihan_ten}}</option>
                                            </select>
                                            <label class="help-block" id="lblthoihan" ng-model="lblthoihan" style="display: none"></label>
                                        </div>
                                        <div class="label-bt col-md-4 no-padding">
                                            &nbsp;&nbsp;Năm
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-info-row" ng-show="!check">
                                <div class="profile-info-name">  Bảo quản <i style="color: red">(*)</i> : </div>
                                <div class="profile-info-value">
                                    <div class="col-sm-6 input-group form-group-option date date-picker no-padding pull-left" id="DTbaoquantu">
                                        <input id="baoquantu" class="adv-date date-picker" type="text" placeholder="Từ ngày" ng-model="HoSo.ngay_baoquan_from" tabindex="16">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                    <div class="col-sm-6 input-group form-group-option date date-picker no-padding">
                                        <input id="baoquanden" class="adv-date date-picker" type="text" placeholder="Đến ngày" ng-model="HoSo.ngay_baoquan_to" tabindex="17">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                    <label class="help-block" id="lblbaoquanhs" style="display: none">Trường bắt buộc không được để trống</label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Lưu trữ :</div>
                                <div class="profile-info-value">
                                    <div class="col-sm-6 input-group form-group-option date date-picker no-padding pull-left">
                                        <input ng-model="HoSo.ngay_luutru_from" id="luutrutu" class="adv-date date-picker" type="text" placeholder="Từ ngày" tabindex="18">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                    <div class="col-sm-6 input-group form-group-option date date-picker no-padding">
                                        <input ng-model="HoSo.ngay_luutru_to" id="luutruden" class="adv-date date-picker" type="text" placeholder="Đến ngày" tabindex="19">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                    <label class="help-block" id="lblluutruhs" ng-model="lblluutruhs" style="display: none"></label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">  Bút tích :</div>
                                <div id="container" class="profile-info-value">
                                    <textarea id="buttich" ng-enter="Entnky('chugiaind')" ng-model="HoSo.buttich" class="form-control input-sm" maxlength="100" tabindex="20"></textarea>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Chú giải nội dung :</div>
                                <div class="profile-info-value">
                                    <div id="">
                                        <textarea id="chugiaind" ng-enter="Entnky('btnCreate')" ng-model="HoSo.chugiai" class="form-control input-sm" maxlength="2500" tabindex="21"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-xs btn-success" id="btnCreate" ng-click="preCreate(HoSo)" tabindex="3"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Lưu</a>
                    <a class="btn btn-xs btn-danger" id="btnHuy" data-dismiss="modal" tabindex="4"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Đóng</a>
                </div>
            </div>
        </div>
    </div>

    @*Modal Delete*@
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="width: 30%">
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button" class="close btn-close-modal" id="closech" data-dismiss="modal" tabindex="8">&times;</button>
                    <h4 class="modal-title">
                        <i class="ace-icon fa fa-exclamation-triangle red"></i>Thông báo
                    </h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa: <strong class="red">{{User.UserName}}</strong>?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger btn-xs btn-ok" ng-click="remove(User)"><i class="fa fa-check-square-o"></i> Có</a>
                    <a class="btn btn-xs btn-info" data-dismiss="modal"><i class="fa fa-times-circle"></i> Không</a>
                </div>
            </div>
        </div>
    </div>

    @*Modal View File*@
    <div class="modal fade" id="ModalToViewFile" role="dialog">
        <div class="modal-dialog modal-lg modal-style" style="width:98%">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 50px);">
                    <div class="col-md-12 no-padding">
                        <iframe id="iframe_viewfile" style="width: 100%; height: 500px; background-color: gray;" src=" "></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Modal Print Info*@
    <div class="modal fade" id="ModalPrintInfo" role="dialog">
        <div class="modal-dialog modal-lg modal-style" style="width:80%">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close btn-close-modal" id="closech" data-dismiss="modal" tabindex="8">&times;</button>
                    <h4 class="modal-title">
                        <i class="ace-icon fa fa-print"></i>&nbsp;Thông tin nhãn dán hồ sơ
                    </h4>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 50px);" id="PrintInfo">
                    <div class="col-xs-12 text-center" style="font-family:'Times New Roman'">
                        <img src="~/Images/header_vnpt.jpg" width="100%" height="80px" />
                        <h2 class="bolder text-center" style="text-transform:uppercase">NĂM {{namID}}</h2> 
                        <h2 class="bolder" style="text-transform:uppercase">
                            Dự án: <span ng-repeat="item in lstDuAn" ng-if="HoSo.duan_id == item.duan_id">{{item.duan_ma}} - {{item.duan_ten}}</span>
                        </h2> 
                        <h2 class="bolder" style="text-transform:uppercase">Mã hồ sơ: {{HoSo.hoso_ma}}</h2> 
                        <h1 class="bolder" style="text-transform:uppercase; font-size:40px">
                            <span ng-repeat="item in lstKho" ng-if="HoSo.kho_id == item.kho_id">{{item.kho_ten}}</span>:
                            <span ng-repeat="item in lstKeGia" ng-if="HoSo.kegia_id == item.kegia_id">{{item.kegia_ten}}</span>:
                            <span ng-repeat="item in lstHopCap" ng-if="HoSo.hopcap_id == item.hopcap_id">{{item.hopcap_ten}}</span>
                        </h1> 
                        <h3 class ="bolder">LOẠI HỒ SƠ: <span ng-repeat="item in lstLoaiHoSo" ng-if="HoSo.loaihs_id == item.loaihs_id">{{item.loaihs_ten}}</span></h3> 
                        <h3 class="bolder">NỘI DUNG: <span class="editable">{{HoSo.noidung}}</span></h3>                                   
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-warning btn-xs btn-ok" ng-click="PrintInfo()"><i class="fa fa-print"></i> In nhãn</a>
                    <a class="btn btn-xs btn-danger" id="btnHuy" data-dismiss="modal" tabindex="4"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Đóng</a>
                </div>
            </div>
        </div>
    </div>

    @*Modal thêm tài liệu*@
    <div class="modal fade" id="ModalThemTaiLieu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="width: 30%">
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button" class="close btn-close-modal" id="closech" data-dismiss="modal" tabindex="8">&times;</button>
                    <h4 class="modal-title">
                        <i class="ace-icon fa fa-exclamation-triangle red"></i>Thông báo
                    </h4>
                </div>
                <div class="modal-body">
                    Bạn có muốn chuyển sang tính năng thêm văn bản - tài liệu cho hồ sơ này ?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger btn-xs btn-ok" href="../Docs/Index" ng-click="ThemTaiLieu();"><i class="fa fa-check-square-o"></i> Có</a>
                    <a class="btn btn-xs btn-info" data-dismiss="modal"><i class="fa fa-times-circle"></i> Không</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/assets/js/bootstrap-timepicker.min.js"></script>
<link href="~/Content/assets/css/datepicker.min.css" rel="stylesheet" />
<script>
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    });
    $('#DateOfBirth').datepicker();
    $(function () {
        $('#Mobile').on('keydown', function (e) {
            -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode)
                && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode
                && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode)
                && e.preventDefault();
        });
    });
</script>

