@{
    ViewBag.Title = "MainMenu";
    Layout = null;
}
    <li class="active">
        <a href="#">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Bàn làm việc </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                Quản lý lưu trữ
            </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="/LT_Docs/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Tài liệu
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/LT_HoSo/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Hồ sơ
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text">Danh mục lưu trữ </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="/DM_KhoLuuTru/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Kho lưu trữ
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_KeGia/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Kệ giá
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_HopCap/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Hộp cặp
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text">Quản lý danh mục </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="/Department/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Phòng ban
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/Position/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Chức vụ
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_DoMat/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Độ mật
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_CapCoQuan/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cấp cơ quan
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_CoQuanBanHanh/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cơ quan ban hành
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_CongCuTraCuu/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Công cụ tra cứu
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_LinhVuc/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Lĩnh vực
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_LoaiHoSoTaiLieu/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Loại hồ sơ tài liệu
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_LoaiVBLienQuan/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Loại văn bản liên quan
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_MucDoTruyCap/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Mức độ truy cập
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_ThoiGianBaoQuan/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Thời gian bảo quản
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_TinhTrangVatLy/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Tình trạng vật lý
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/DM_NgonNgu/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Ngôn ngữ
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-tag"></i>
            <span class="menu-text"> Quản trị hệ thống </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/User/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Người dùng
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/Role/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nhóm quyền
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/MenuLink/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Menu link
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/UserActivityLog/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nhật ký hệ thống
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/SystemConfig/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cấu hình hệ thống
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-file-o"></i>
            <span class="menu-text">
                Tìm kiếm
            </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="/TimKiem/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Tìm kiếm
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>


