@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ScriptController/DmPhienTiepCongDanJs.js"></script>
<div class="main-content-inner" ng-controller="DmPhienTiepCongDanJs">
    <div class="panel-default">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="../Home/Index">Trang chủ</a>
                </li>
                <li><a>Quản lý danh mục</a></li>
                <li class="active">Quản lý phiên tiếp công dân</li>
            </ul>
            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <a class="btn btn-success btn-xs tooltip-success" data-toggle="modal" data-target="#myModal" data-placement="top" ng-click="show('')" ng-if="checkFunctionRoles('2')"><i class="fa fa-plus-circle"></i> Thêm mới</a>
                </form>
            </div>
        </div>
        <div class="page-header panel-body">
            <div class="p-table ptdv-pding">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 no-padding">
                        <div class="col-md-1 Pding-div">
                            <h4>Số lượng: <span class="red">{{totalRecords}}</span></h4>
                        </div>
                        <div class="col-md-3 Pding-div">
                            <input type="text" id="txtThongtintimkiem" ng-model="thongtintimkiem" trim-input prevent-autofill class="form-control" placeholder="Nhập tên phiên tiếp công dân..." ng-keypress="checkEnter($event)" autocomplete="off" />
                        </div>
                        <div class="col-md-2 Pding-div">
                            <select class="form-control" id="ddlDonVi" ng-model="IdDonVi" ng-change="reload()">
                                <option value="-1">-- Chọn đơn vị --</option>
                                <option value="1">-- Tất cả đơn vị --</option>
                                <option ng-repeat="item in lstDepartments" value="{{item.Id}}" ng-selected="IdDonVi == item.Id">
                                    {{item.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2 Pding-div">
                            <select class="form-control" ng-model="KieuTiep" ng-change="reload()">
                                <option value="-1">-- Chọn kiểu tiếp --</option>
                                <option value="0">Tiếp thường xuyên</option>
                                <option value="1">Thủ trưởng tiếp</option>
                            </select>
                        </div>
                        <div class="col-md-1 Pding-div">
                            <select class="form-control" ng-model="Loai" ng-change="reload()">
                                <option value="-1">--- Chọn loại ---</option>
                                <option value="0">Bình thường</option>
                                <option value="1">Đặc biệt</option>
                            </select>
                        </div>
                        <div class="col-md-2 Pding-div">
                            <select class="form-control" ng-model="TrangThai" ng-change="reload()">
                                <option value="-1">--- Trạng thái sử dụng ---</option>
                                <option value="0">Hoạt động</option>
                                <option value="1">Không hoạt động</option>
                            </select>
                        </div>
                        <div class="col-md-1 Pding-div text-right">
                            <a ng-click="reload()" class="btn btn-xs btn-primary">
                                <i class="fa fa-search">Tìm kiếm</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="p-table">
                <div class="panel-body">
                    <table class="table table-bordered table-hover" border="1">
                        <thead>
                            <tr>
                                <th class="text-center align-middle" style="width: 5%">STT</th>
                                <th class="text-center align-middle">TÊN PHIÊN TIẾP CÔNG DÂN</th>
                                <th class="text-center align-middle" style="width: 20%">ĐƠN VỊ</th>
                                <th class="text-center align-middle" style="width: 10%">KIỂU TIẾP</th>
                                <th class="text-center align-middle" style="width: 10%">LOẠI</th>
                                <th class="text-center align-middle" style="width: 10%">NGÀY TẠO</th>
                                <th class="text-center align-middle" style="width: 10%">TRẠNG THÁI</th>
                                <th class="text-center align-middle" style="width: 10%">CHỨC NĂNG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lstDmPhienTiepCongDan">
                                <td class="text-center">{{$index+1+(pageSize*(pageIndex-1))}}</td>
                                <td class="text-left"><a href="" data-toggle="modal" data-target="#myModalXem" ng-click="show(item.id);">{{item.TenPhienTCD}}</a></td>
                                <td class="text-left">
                                    <span ng-repeat="donvi in lstDepartmentsNoSpecialCharacter" ng-if="donvi.Id == item.IdDonVi">{{donvi.Name}}</span>
                                </td>
                                <td class="text-left">
                                    <span ng-if="item.KieuTiep ==0"> Tiếp thường xuyên</span>
                                    <span ng-if="item.KieuTiep ==1"> Thủ trưởng tiếp</span>
                                </td>
                                <td class="text-left">
                                    <span ng-if="item.Loai ==0"> Bình thường</span>
                                    <span ng-if="item.Loai ==1"> Đặc biệt</span>
                                </td>
                                <td class="text-center">{{ item.NgayTao | date:"dd/MM/yyyy" }}</td>
                                <td class="text-center">
                                    <span ng-if="item.TrangThai ==0"> Đang hoạt động</span>
                                    <span ng-if="item.TrangThai ==1"> Không hoạt động</span>
                                </td>
                                <td class="text-center">
                                    <span class="text-center control-btn action-buttons">
                                        <!-- Sửa -->
                                        <a class="blue" data-toggle="modal" data-target="#myModal"
                                           ng-click="show(item.id);" id="{{item.id}}"
                                           ng-if="checkFunctionRoles('2')" data-placement="top" title="Sửa">
                                            <i class="ace-icon fa fa-pencil bigger-150"></i>
                                        </a>

                                        <!-- Vô hiệu hóa -->
                                        <a class="purple" ng-show="item.TrangThai==0" ng-click="UpdateStatus(item)"
                                           ng-if="checkFunctionRoles('2')" data-toggle="tooltip"
                                           data-placement="top" title="Vô hiệu hóa">
                                            <i class="ace-icon fa fa-lock bigger-150"></i>
                                        </a>

                                        <!-- Sử dụng -->
                                        <a class="green" ng-show="item.TrangThai==1" ng-click="UpdateStatus(item)"
                                           ng-if="checkFunctionRoles('2')" data-toggle="tooltip"
                                           data-placement="top" title="Sử dụng">
                                            <i class="ace-icon fa fa-unlock bigger-150"></i>
                                        </a>

                                        <!-- Xóa -->
                                        <a class="red" ng-if="item.Loai == 0" data-toggle="modal"
                                           data-target="#confirm-delete" ng-click="checkremove(item.id);"
                                           data-placement="top" title="Xóa">
                                            <i class="ace-icon fa fa-trash bigger-150"></i>
                                        </a>
                                        <!-- Giữ chỗ nếu không có nút xóa -->
                                        <span ng-if="item.Loai != 0" style="visibility: hidden; width: 24px; display: inline-block;"></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="show-paging col-md-12 no-padding">
                        <div class="paging">
                            <span>Hiển thị</span>
                            <select ng-model="pageSize" ng-change="reload()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                            <span> tổng số <span class="totalrecord">{{totalRecords}}</span> bản ghi</span>
                        </div>
                        <div class="pagination no-padding">
                            <ul class="pagination pull-right" style="margin:0" ng-hide="pageCount==0">
                                <li ng-class="isDisable(pageIndex,1)" ng-click="selectPage(1)"><a href="javascript:void(0)"><i class="fa fa-fast-backward"></i></a></li>
                                <li ng-class="isDisable(pageIndex,1)" ng-click="selectPage(pageIndex-1)"><a href="javascript:void(0)"><i class="fa fa-backward"></i></a></li>
                                <li ng-repeat="page in lstPage track by $index"><a href="javascript:void(0)" ng-click="selectPage(page)" ng-style="activepage(page)">{{page}}</a></li>
                                <li ng-class="isDisable(pageIndex,pageCount)" ng-click="selectPage(pageIndex+1)"><a href="javascript:void(0)"><i class="fa fa-forward"></i></a></li>
                                <li ng-class="isDisable(pageIndex,pageCount)" ng-click="selectPage(pageCount)"><a href="javascript:void(0)"><i class="fa fa-fast-forward"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: transparent; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none">
        <p style="position: absolute; top: 5%; left: 50%; color: #ff6a00; text-align: center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-spin fa-fw margin-bottom"></i><br />
            Vui lòng đợi...
        </p>
    </div>

    @*Modal Xem*@
    <div id="myModalXem" class="modal fade" role="dialog" tabindex="-1">
        <input type="text" id="crud" style="display:none;" />
        <div class="modal-dialog modal-style">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close-modal" data-dismiss="modal" tabindex="7">&times;</button>
                    <h4 class="modal-title" ng-show="DmPhienTiepCongDan.id != null"><i class="ace-icon fa fa-eye"> </i> Xem thông tin phiên tiếp công dân: <span class="style_cole">{{DmPhienTiepCongDan.TenPhienTCD}}</span></h4>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12 no-padding">
                        <div class="profile-user-info profile-user-info-striped dv-name">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Tên phiên tiếp công dân: </div>
                                <div class="profile-info-value">
                                    <span class="editable">{{DmPhienTiepCongDan.TenPhienTCD}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Tên đơn vị: </div>
                                <div class="profile-info-value">
                                    <select disabled name="donvi" ng-model="DmPhienTiepCongDan.IdDonVi" tabindex="3" class="form-control input-sm">
                                        <option ng-repeat="item in lstDepartmentsNoSpecialCharacter" value="{{item.Id}}" ng-selected="DmPhienTiepCongDan.IdDonVi == item.Id">{{item.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Mô tả: </div>
                                <div class="profile-info-value">
                                    <span class="editable">{{DmPhienTiepCongDan.MoTa}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Số thứ tự trong danh mục: </div>
                                <div class="profile-info-value">
                                    <span class="editable">{{DmPhienTiepCongDan.SoThuTu}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Kiểu tiếp:</div>
                                <div class="profile-info-value" ng-if="DmPhienTiepCongDan.KieuTiep  == 0">
                                    <span class="editable">Tiếp thường xuyên</span>
                                </div>
                                <div class="profile-info-value" ng-if="DmPhienTiepCongDan.KieuTiep  == 1">
                                    <span class="editable">Thủ trưởng tiếp</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Loại:</div>
                                <div class="profile-info-value" ng-if="DmPhienTiepCongDan.Loai == 0">
                                    <span class="editable">Bình thường</span>
                                </div>
                                <div class="profile-info-value" ng-if="DmPhienTiepCongDan.Loai == 1">
                                    <span class="editable">Đặc biệt</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Trạng thái:</div>
                                <div class="profile-info-value" ng-if="DmPhienTiepCongDan.TrangThai == 0">
                                    <span class="editable">Hoạt động</span>
                                </div>
                                <div class="profile-info-value" ng-if="DmPhienTiepCongDan.TrangThai == 1">
                                    <span class="editable">Không hoạt động</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Ngày tạo :</div>
                                <div class="profile-info-value">
                                    <span class="editable">{{ DmPhienTiepCongDan.NgayTao | date:"dd/MM/yyyy" }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Ngày cập nhật mới nhất :</div>
                                <div class="profile-info-value">
                                    <span class="editable">{{ DmPhienTiepCongDan.ThoiDiemCapNhat | date:"dd/MM/yyyy" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-xs btn-danger" data-dismiss="modal" tabindex="6"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Đóng</a>
                </div>
            </div>
        </div>
    </div>

    @*Modal Insert Update*@
    <div id="myModal" class="modal fade" role="dialog" tabindex="-1">
        <input type="text" id="crud" style="display:none;" />
        <div class="modal-dialog modal-style">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close-modal" id="closeNQ" data-dismiss="modal" tabindex="6">&times;</button>
                    <h4 class="modal-title" ng-show="DmPhienTiepCongDan.Id != null"><i class="fa fa-pencil-square-o bigger-100"> </i> Sửa thông tin phiên tiếp công dân: <span class="style_cole">{{DmPhienTiepCongDan.TenPhienTCD}}</span></h4>
                    <h4 class="modal-title" ng-show="DmPhienTiepCongDan.Id == null"><i class="fa fa-pencil-square-o bigger-100"> </i> Thêm mới phiên tiếp công dân:</h4>
                </div>
                <form name="addPhienTiepCongDan">
                    <div class="modal-body">
                        <div class="col-md-12 no-padding">
                            <div class="profile-user-info profile-user-info-striped dv-name">

                                <!-- Tên phiên tiếp công dân -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Tên phiên tiếp công dân<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <input type="text" name="tenPhienTCD" required class="form-control input-sm" ng-model="DmPhienTiepCongDan.TenPhienTCD" placeholder="Nhập tên phiên tiếp công dân...">
                                        <label class="help-block text-danger" id="lblTenPhienTCD" ng-show="addPhienTiepCongDan.tenPhienTCD.$touched && addPhienTiepCongDan.tenPhienTCD.$error.required">
                                            Vui lòng nhập tên phiên tiếp công dân!
                                        </label>
                                    </div>
                                </div>

                                <!-- Tên đơn vị -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Tên đơn vị<i style="color: red">(*)</i>: </div>
                                    <div class="profile-info-value">
                                        <select name="donvi" required class="form-control input-sm"
                                                ng-model="DmPhienTiepCongDan.IdDonVi">
                                            <option value="">--- Chọn Đơn vị ---</option>
                                            <option value="1">--- Tất cả đơn vị ---</option>
                                            <option ng-repeat="item in lstDepartments" value="{{item.Id}}">{{item.Name}}</option>
                                        </select>
                                        <label class="help-block text-danger" id="lblidNguonDonThu"
                                               ng-show="addPhienTiepCongDan.donvi.$touched && addPhienTiepCongDan.donvi.$error.required">
                                            Vui lòng chọn đơn vị!
                                        </label>
                                    </div>
                                </div>

                                <!-- Mô tả -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Mô tả:</div>
                                    <div class="profile-info-value">
                                        <textarea name="moTa" class="form-control input-sm" ng-model="DmPhienTiepCongDan.MoTa" placeholder="Nhập mô tả..."></textarea>
                                    </div>
                                </div>

                                <!-- Số thứ tự -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Số thứ tự trong danh mục<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <input type="number" name="soThuTu" required class="form-control input-sm" ng-model="DmPhienTiepCongDan.SoThuTu" placeholder="Nhập số thứ tự...">
                                        <label class="help-block text-danger" ng-show="addPhienTiepCongDan.soThuTu.$touched && addPhienTiepCongDan.soThuTu.$error.required">
                                            Vui lòng nhập số thứ tự!
                                        </label>
                                    </div>
                                </div>

                                <!-- Kiểu tiếp -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Kiểu tiếp<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <select name="loai" required class="form-control input-sm" ng-model="DmPhienTiepCongDan.KieuTiep">
                                            <option value="">-- Chọn kiểu tiếp --</option>
                                            <option value="0">Tiếp thường xuyên</option>
                                            <option value="1">Thủ trưởng tiếp</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Trạng thái -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Trạng thái<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <select name="trangThai" required class="form-control input-sm" ng-model="DmPhienTiepCongDan.TrangThai">
                                            <option value="">-- Chọn trạng thái --</option>
                                            <option value="0">Hoạt động</option>
                                            <option value="1">Không hoạt động</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Loại -->
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Loại<i style="color: red">(*)</i>:</div>
                                    <div class="profile-info-value">
                                        <select name="loai" required class="form-control input-sm" ng-model="DmPhienTiepCongDan.Loai">
                                            <option value="">-- Chọn loại --</option>
                                            <option value="0">Bình thường</option>
                                            <option value="1">Đặc biệt</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Nút Lưu và Đóng -->
                    <div class="modal-footer">
                        <a class="btn btn-xs btn-success" id="btnCreate" ng-click="submitForm(addPhienTiepCongDan)">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Lưu
                        </a>
                        <a class="btn btn-xs btn-danger" id="btnHuy" data-dismiss="modal">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Đóng
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>



      @*Modal Delete*@
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="width: 30%">
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button" class="close btn-close-modal" id="closech" data-dismiss="modal" tabindex="8">&times;</button>
                    <h4 class="modal-title">
                        <i class="ace-icon fa fa-exclamation-triangle red"></i>Thông báo
                    </h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa: <strong class="red">{{DmPhienTiepCongDan.TenPhienTCD}}</strong>?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger btn-xs btn-ok" ng-click="remove(DmPhienTiepCongDan.id)"><i class="fa fa-check-square-o"></i> Có</a>
                    <a class="btn btn-xs btn-info" data-dismiss="modal"><i class="fa fa-times-circle"></i> Không</a>
                </div>
            </div>
        </div>
    </div>
</div>